/*16px == 1rem */

* { box-sizing: border-box; }

.grid {
  display: flex;
  flex-wrap: wrap;
}

/* relative widths for each column size */
.col-1  { width: 8.3333%; }
.col-md-2  { width: 16.6667%; }
.col-md-3  { width: 25%; }
.col-md-4  { width: 33.3333%; }
.col-md-5  { width: 41.6667%; }
.col-md-6  { width: 50%; }
.col-md-7  { width: 58.3333%; }
.col-md-8  { width: 66.6667%; }
.col-md-9  { width: 75%; }
.col-md-10 { width: 83.3333%; }
.col-md-11 { width: 91.6667%; }

.grid-header {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: white;
}


.grid-gutter {
  margin: 1rem;
}

.instructor-images {
  height: 200px;
  width: 200px;
}

.logo {
  padding-left: 1rem;
  margin: 1rem;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.about-images {
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-main-nav {
  background-color: lightpink;
  width: 100%;
}
