 /*16px == 1rem */

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.company-title {
  display: block;
  flex-direction: column;
  font-size: 1.5rem;
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
}

.address {
  font-size: 1rem;
}

h1 {
  padding: 0;
  margin: 0;
}

h1 h2 h3 h4 {

  color: #654321;
}

h3 {
  color: #654321;
}

h2 {
  text-align: center;
  color: #654321;
}

p {
  font-family:'Lato', sans-serif;
  color: #654321;
}

.main-nav {
  border-bottom: solid #62BD43;
    margin: 0 auto;
  padding: 0;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

#logo {
  height: 50px;
  padding: 0;
  margin: 0 auto;
  border-radius: 50%;
}

.main {
  padding: 1rem;
  margin: 0rem;
  background-color: white;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}

.main-images {
  display: block;
  margin: 1rem auto;
  width: 400px;
  box-shadow: 6px 6px 5px #999999;
}

.instructor-images {
  border-radius: 50%;
}

.calendar {
    display: block;
    margin: 0 auto;
}

#aside {
  display: block;
  position: relative;
  border: solid #654321;
  width: 100%;
  margin: 0;
  padding: 0;
}

#footer {
  background-color: #62BD43;
  width: 100%;
  font-style: italic;
  text-align: center;
}

.social-media {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

/*link*/
.facebook-logo:link {
  color: #3b5998;
}

.linkedin-logo:link {
  color: #0077B5;
}

.twitter-logo:link {
  color: #0084b4;
}

/*visited link*/
.facebook-logo:visited {
  color: #3b5998;
}

.linkedin-logo:visited {
  color: #0077B5;
}

.twitter-logo:visited {
  color: #0084b4;
}

.about-images {
  display: inline;
  justify-content: space-around;
  margin: auto;
  width: 100px;
  box-shadow: 10px 10px 10px #999999;
}
